[settings]
line_length=120
wrap_length=120
lines_after_imports=2
indent_style = space
indent_size = 4
default_section = THIRDPARTY
known_first_party = app_template,django_project,licitacions
ignore_frosted_errors = E103
skip = runtests.py,build,.tox,migrations,docker-test,docker_data
not_skip = __init__.py
known_django = django
known_django_extra =
sections = FUTURE,STDLIB,THIRDPARTY,DJANGO,DJANGO_EXTRA,FIRSTPARTY,LOCALFOLDER
include_trailing_comma=False
multi_line_output=0
skip_glob = **/migrations/**
